:root {
    --bg-color: #1f1e24;
    --button-color: #326589;
    --text-title-color: #ececef;
    --text-description-color: #fc6621;
    --text-price-color: #002f52;
    --text-author-color: #858585;
    --text-tag-color: #9c9c9c;
}

* {
    background: var(--bg-color);
    box-sizing: border-box;
    padding: 0 0.8rem;
    margin: 0;
    font-family: Helvetica;
}

.title {
    margin-top: 10px;
    padding-left: 0;
    color: var(--text-title-color);
}

.title h6 {
    padding-left: 0;
    font-weight: 100;
}

.line-block {
    width: 100%;
    height: 0.3px;
    background: #9c9c9c;
    display: inline-block;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 4px;
}

/* ============================ */
/*--- otimização das cores aleatorias  ---*/
.bg-one {
    background-color: #033464;
}

.bg-two {
    background-color: #0a4020;
}

.bg-tree {
    background-color: #5c2900;
}

.bg-four {
    background-color: #660e00;
}

.bg-five {
    background-color: #333238;
}

.card-word {
    text-align: center;
    vertical-align: top;
    color: #ececef;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(251, 250, 253, 0.08);
    overflow: hidden;
    flex-shrink: 0;
    border-style: none;
    box-shadow: inset 0 0 0 1px rgb(251 250 253 / 10%);
    cursor: pointer;
}

/*--- otimização das cores aleatorias  ---*/
/* ============================ */

/*--- organização  ---*/
.profile-projects {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.row-one {
    padding-top: 15px;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
}

.profile-infos {
    padding-left: 0;
    display: flex;
}

.profile-icon {
    display: inline-block;
    padding: 0;
}

.initial-words {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
}

.profile-name {
    display: flex;
    padding-left: 0;
    padding-top: 18px;
}

.profile-name h3 {
    color: var(--text-title-color);
    padding-left: 8px;
    font-weight: 100;
}

.new-project {
    padding-right: 0;
    padding-top: 20px;
}

.btn-project {
    color: #fff;
    border: none;
    background-color: #428fdc;
    font-size: 10px;
    padding: 7px 11px;
    border-radius: 3px;
    cursor: pointer;
}

.row-two {

    padding-top: 15px;
    padding-left: 0;
    color: var(--text-title-color);
}

.row-two h6 {
    padding-left: 0;
    font-weight: 100;
}

.row-tree {
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
}

.row-tree i {
    color: #858585;
    position: relative;
    left: 40px;
    top: 5px;
}

.row-tree input {
    border: 1px solid grey;
    padding: 4px 2px 4px 30px;
    border-radius: 3px;
    background-color: #333238;
    opacity: 0.7;
    color: #fff;
}

/*--- projetos  ---*/
.list-project {
    padding: 0;
}

.all-projects {
    padding: 0;
}

.row {
    display: grid;
    grid-template-columns: 3fr 1fr auto;
    padding-right: 0;

}

.name-project {
    display: flex;

}

.card-project {
    display: flex;
    align-items: center;
    padding-left: 0;

}

.initial-words-one {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1rem;
}

.line-description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 0;

}

.line-name {
    display: flex;
    padding-left: 0;
}

.h5-name {
    padding: 15px 0 0 0;
    color: var(--text-title-color);
    font-weight: 100;
}

.role-project {
    font-size: 8px;
    padding-top: 18px;
    padding-left: 5px;
    color: var(--text-title-color);
    font-weight: 100;
    opacity: 0.5;
}

.role-project span {
    border: 1px solid #fff;
    padding: 3px 7px;
    border-radius: 10px;

}

.description-project {
    background-color: transparent;
    padding: 0;
}

.description-project sub {
    color: #858585;
    background-color: transparent;
    font-size: 10px;
    padding: 0;

}

.star-project {
    display: flex;
    align-items: center;
}

.star {
    margin: 0 0 21px 0;
    visibility: hidden;
    font-size: 22px;
    cursor: pointer;

}

.star:before {
    content: "\2605";
    position: absolute;
    visibility: visible;
    color: #ccc;
}

.star:checked:before {
    content: "\2606";
    position: absolute;
    color: #ccc;
}

.star-label {
    padding: 0 0 0px 8px;
    color: #ccc;

}

.time-project {
    display: flex;
    align-items: center;
    padding-right: 0;

}

.time-project samp {
    color: #858585;
    font-size: 9px;
    opacity: 0.8;
    padding-right: 0;

}